<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>    
    <add name="ConnectionString" connectionString="Data Source=serverreestr.vmr.gov.ua;Initial Catalog=ATUU;Persist Security Info=True;User ID=VVDRVVIN; Password=1QAZ2wsx" providerName="System.Data.SqlClient"/>
  </connectionStrings>    
</configuration>
